<div class="countries-container">
  <div class="countries-add-form-container">
    <form [formGroup]="countriesForm">
      <div>
        <input
          type="text"
          id="country"
          formControlName="country"
          placeholder="Enter Country"
        />
      </div>
      <div>
        <input
          type="text"
          id="capital"
          formControlName="capital"
          placeholder="Enter Capital"
        />
      </div>

      <button type="button" (click)="addCountry()">Add Country</button>
    </form>

    <div *ngFor="let country of countries$ | async">
      <p>{{ country.country }}</p>
      <button type="button" (click)="editCountry(country)">Edit Country</button>
    </div>
  </div>

  <div class="countries-edit-form-container">
    <div *ngIf="selectedCountry$ | async">
      <form [formGroup]="editCountryForm">
        <div>
          <input
            type="text"
            id="name"
            placeholder="Enter Country"
            formControlName="country"
          />
        </div>
        <div>
          <input
            type="text"
            id="capital"
            placeholder="Enter Capital"
            formControlName="capital"
          />
        </div>

        <button type="button" (click)="saveChanges()">Save</button>
        <button type="button" (click)="discardChanges()">
          Discard Changes
        </button>
      </form>
    </div>
  </div>
</div>
