<p>
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
      routerLink="/person"
    >
      <mat-icon>supervised_user_circle</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
      routerLink="/countries"
    >
      <mat-icon>flag</mat-icon>
    </button>
  </mat-toolbar>
</p>
<router-outlet></router-outlet>
