<form class="add-person-form">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Firstname</mat-label>
      <input matInput autocomplete="false" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Lastname</mat-label>
      <input matInput autocomplete="false" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Age</mat-label>
      <input matInput type="number" />
    </mat-form-field>
  </div>
</form>
<div class="persons-contianer"></div>
