<div class="flex-container person-page-main-container">
  <form class="add-person-form" [formGroup]="addPersonForm">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Firstname</mat-label>
        <input
          matInput
          autocomplete="false"
          formControlName="firstname"
          type="text"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Surname</mat-label>
        <input
          matInput
          autocomplete="false"
          formControlName="surname"
          type="text"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Age</mat-label>
        <input matInput type="number" formControlName="age" type="number" />
      </mat-form-field>
    </div>

    <button mat-flat-button color="primary" #addBtn type="button">
      Add Person
    </button>
  </form>

  <div class="persons-main-container">
    <div class="flex-container">
      <div class="persons" *ngIf="persons$ | async as persons">
        <div class="person" *ngFor="let person of persons">
          <div class="person-info-container">
            <p>{{ person.name }} {{ person.surname }} {{ person.age }}</p>
          </div>
          <div class="edit-delete-btns-container">
            <button
              mat-flat-button
              class="edit-btn"
              (click)="onEdit(person._id)"
            >
              Edit
            </button>
            <button
              mat-flat-button
              color="warn"
              class="delete-btn"
              (click)="onDelete(person._id)"
            >
              Delete
            </button>
          </div>
        </div>
      </div>

      <form class="edit-person-form" *ngIf="selectedPerson$ | async as person">
        <div>
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Firstname</mat-label>
              <input [value]="person.name" matInput autocomplete="false" />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Surname</mat-label>
              <input matInput autocomplete="false" [value]="person.surname" />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Age</mat-label>
              <input matInput type="number" [value]="person.age" />
            </mat-form-field>
          </div>

          <button
            mat-flat-button
            color="primary"
            type="button"
            (click)="onSave()"
          >
            Save Changes
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
